* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
footer {
  background-color: #9db9ff;
  width: 800px;
  height: 150px;
  border-radius: 8px 8px 0 0;
  margin: 50px;
}
h1 {
  color: #ffefe7;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
header p {
  font-size: 16px;
  flex-wrap: wrap;
  text-align: left;
  padding: 0 20px 0 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  min-height: 300px;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
}
.cell {
  border: 8px solid #fff89d;
  border-radius: 20px;
}
/* footer {
  background-color: #9db9ff;
  text-align: center;
  justify-content: space-around;
} */

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #ffefe7;
  border: 2px solid #ffefe7;
  padding: 7px;
  border-radius: 4px;
  width: 75px;
}
p {
  color: #ffefe7;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
}
footer {
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* font-family: 'Montserrat', sans-serif; */
